.slider{
    height:700px;
    margin:0;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    
}

.slide-track{
    display: flex;
    width: calc(400px * 6);
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
 
}

@keyframes scroll  {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-2000px));
    }
    
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, #3D8532 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top:0;
    transform: rotateZ(180deg);
}

